__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.python-version
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.venv/
venv/

.idea/
.vscode/

.env

alembic/versions/__pycache__/

build/
dist/
*.egg-info/